<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.TimeMapper">

	<select id="getTime" resultType="string">
		select now()
	</select>

	<insert id="insertT1"> insert into tbl_t1 (val) values(#{val})</insert>

	<insert id="insertT2"> insert into tbl_t2 (val) values(#{val})</insert>

	<insert id="insertOrder">
	insert into tbl_order(owner) values (#{owner})
	</insert>
	
	<insert id="insertDetail">
	<selectKey order="BEFORE" keyProperty="ono" resultType="int">
	select max(ono) from tbl_order
	</selectKey>
	insert into tbl_order_detail(ono) values(#{ono})
	</insert>	

</mapper>